<p id="notice"><%= notice %></p>

<p>
  <strong>締切日:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @task.category_id %>
</p>

<p>
  <strong>やること:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>状況:</strong>
  <%= @task.doue %>
</p>

<p>
  <strong>ユーザー:</strong>
  <%= @task.user_id %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '一覧', tasks_path %>
